spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            # Route for /api/patients/** to patient-service
            - id: patient-service
              uri: http://localhost:4000
              predicates:
                - Path=/api/v1/patients/**

              # Route for /api/docs/patients to patient-service /v3/api-docs
            - id: api-docs-patient-route
              uri: http://localhost:4000
              predicates:
                - Path=/api-docs/patients
              filters:
                - RewritePath=/api-docs/patients,/v3/api-docs

server:
  port: 4004